<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-4 div-grafico">
            <mat-card class="dashboard-card">
                <div class="header-grafico">
                    <div class="titulo-grafico">
                        BITÁCORA DE EXCEPCIONES
                    </div>


                    <div class="icono-grafico">
                        <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                            <mat-icon>more_vert</mat-icon>
                          </button>
                    </div>

                </div>
                <mat-card-content class="dashboard-card-content">
                    <div>Card Content Here</div>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-4 div-grafico">
            <mat-card class="dashboard-card">
                <mat-card-header>
                    <mat-card-title>
                        Excepciones
                        <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu" xPosition="before">
                            <button mat-menu-item>Expand</button>
                            <button mat-menu-item>Remove</button>
                        </mat-menu>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content class="dashboard-card-content">
                    <div>Card Content Here</div>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-4 div-grafico">
            <mat-card class="dashboard-card">
                <mat-card-header>
                    <mat-card-title>
                        Excepciones
                        <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu" xPosition="before">
                            <button mat-menu-item>Expand</button>
                            <button mat-menu-item>Remove</button>
                        </mat-menu>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content class="dashboard-card-content">
                    <div>Card Content Here</div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>