<div class="loading-table" [ngClass]="{'show-dt': !mostrarTabla, 'hide-dt': mostrarTabla}">
    <p class="text-center">Cargando...</p>
</div>
<div>
    <button type="button" class="btn waves-effect waves-light blue" (click)="rerender()">
        Rerender
      </button>
</div>
<div>
    <button type="button" class="btn waves-effect waves-light blue" (click)="cambiarClase()">
        CLASS
      </button>
</div>
<div class="container-table" [ngClass]="{'show-dt': mostrarTabla, 'hide-dt': !mostrarTabla}">
    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>First name</th>
                <th>Last name</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Foo</td>
                <td>http://www.ternium.com.mx/generadordenotas/create</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Someone</td>
                <td>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam minus consequatur, accusamus adipisci odio aut nobis quae tempore quidem eius provident reiciendis, nulla fuga minima laudantium doloribus obcaecati fugit nam!</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Iamout</td>
                <td>Ofinspiration</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Yoda</td>
                <td>Skywalker</td>
            </tr>
            <tr>
                <td>5</td>
                <td>Patrick</td>
                <td>Dupont</td>
            </tr>
            <tr>
                <td>6</td>
                <td>Barack</td>
                <td>Obama</td>
            </tr>
            <tr>
                <td>7</td>
                <td>François</td>
                <td>Holland</td>
            </tr>
            <tr>
                <td>8</td>
                <td>Michel</td>
                <td>Popo</td>
            </tr>
            <tr>
                <td>9</td>
                <td>Chuck</td>
                <td>Norris</td>
            </tr>
            <tr>
                <td>10</td>
                <td>Simon</td>
                <td>Robin</td>
            </tr>
            <tr>
                <td>11</td>
                <td>Louis</td>
                <td>Lin</td>
            </tr>
            <tr>
                <td>12</td>
                <td>Zelda</td>
                <td>Link</td>
            </tr>
        </tbody>
    </table>
</div>