thead {
    background-color: black;
    color: white;
}

table {
    width: 100% !important;
}

.show-dt {
    display: block !important;
}

.hide-dt {
    display: none !important;
}

.rojo {
    background-color: red;
}

.azul {
    background-color: blue;
}